.epaperbtn {
    margin-right: 84%;
    width: 15%;
    background-color: rgb(49, 70, 177);
  }

  .chackbok{
    padding-left: 2%;
  }










  .container {
    // text-align: center; /* Optional: To center align the boxes within the container */
  }
  
  .box {
    font-size: larger;
    display: inline;
    margin: 0 10px; /* Adjust this value to add space between the boxes */
    // background-color: #ccc;
    padding: 10px;
  }
  
.in{
  display: inline;
padding: 200px;

}
.in1{
  display: inline;
padding: 139px;

}
.in2{
  display: inline;
padding: 118px;

}

.in3{
  display: inline;
padding: 217px;

}


.ar{

padding-right: 310px;

}