.maindashboard {
  display: flex;
  /* flex-wrap: wrap; */
}

.dashboardtext {
  background-color: rgb(49, 70, 177);
  color: white;
  height: 12%;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  padding-left: 1rem;
}

.navbarbox {
  width: 20vw;
  height: 100vh;
}

.dashbox {
  width: 80vw;
  height: 100vh;
}

.userstatuscontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  margin-top: 2%;
}

.userstatusbox3 {
  width: 20vw;
  min-width: 260px;
  height: 17vh;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 1px rgb(212, 204, 204);
  display: flex;
  align-items: center;
  padding: 0.7rem;
  gap: 0.7rem;
}
.iconscontainer {
  background-color: rgb(165, 162, 162);
  width: 80px;
  height: 80px;
  border-radius: 100px;
  /* margin: 7%; */
  opacity: 0.2;
}
.userstatusboxcontant {
  margin: 0;
}
.userstatusboxcontant span {
  color: rgb(49, 70, 177);
  font-size: 18px;
  font-weight: 700;
}
.userstatusbox6 {
  width: 45vw;
  min-width: 550px;
  height: 28vh;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 1px rgb(212, 204, 204);
}

.userstatusbox4 {
  width: 17vw;
  min-width: 260px;
  height: 28vh;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 1px rgb(212, 204, 204);
}

.E-PAPER-MODULE-text {
  color: rgb(49, 70, 177);
  margin: 5%;
  font-weight: 700;
}

.userstatusbox5 {
  width: 19vw;
  min-width: 260px;
  height: 40vh;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 1px rgb(212, 204, 204);
}

.userstatusbox54 {
  width: 22vw;
  min-width: 260px;
  height: 40vh;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 1px rgb(212, 204, 204);
}

.toiimage {
  width: 90%;
  height: 60%;
  border-radius: 5px;
  margin: 5%;
}
.adimage {
  width: 80%;
  margin-left: 10%;
  height: 100%;
  border-radius: 15px;
}

.toideccription {
  font-size: 10px;
  margin: 4%;
}
.epapermoduleli {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  font-weight: 600;
}
.epapermodulespan {
  color: red;
}
.progress {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
